@(interventionForm: Form[Intervention])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Add an Intervention</h1>
    
    @form(routes.Interventions.save()) {
        
        <fieldset>
        
            @inputText(interventionForm("name"), '_label -> "Intervention name")
            @inputText(interventionForm("introduced"), '_label -> "Introduced date")
            @inputText(interventionForm("scheduled"), '_label -> "Scheduled date")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this intervention" class="btn primary"> or 
            <a href="@routes.Interventions.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}